{% extends 'base/base.html' %}
{% load static %}

{% block content %}

<!--{{ request.user.get_all_permissions }}-->

	<div class="contentbox">

		{% if perms.news.add_newsunit %}
			<a class="nav-link" href="/newsadd/">Create News</a>
		{% endif %}

		<table width="100%">
		<tr class="alt" align="left">
		  <th align="left">分類</th>
		  <th align="left">標題</th>
		  <th align="left">時間</th>
		  <th align="left">點閱</th>
		  {% if perms.news.change_newsunit %}
		  	<th align="left">編輯</th>
		  {% endif %}
		  {% if perms.news.delete_newsunit %}
		  	<th align="left">刪除</th>
		  {% endif %}
		</tr>
		{% for unit in newsunits %}
			<tr class="alt" align="left">
			<td><div class="typeblock">【{{ unit.catego }}】</div></td>
			<td><a href="/detail/{{unit.id}}/">{{ unit.title }}</a></td>
			<td>{{ unit.pubtime }}</td>
			<td>{{ unit.press }}</td>

			</td>		
			<td>{% if perms.news.change_newsunit %}
					<a href="/newsedit/{{unit.id}}/" class="card-link">Edit</a>
				{% endif %}
			</td>
			<td>{% if perms.news.delete_newsunit %}
					<a href="/newsdelete/{{unit.id}}/" class="card-link">Delete</a>								
				{% endif %}
			</td>

		
			</tr>
		{% empty %}
			<div class="status warning">
				<p><img src="{% static "images/icon_warning.png" %}" alt="Warning" /><span>注意</span> 
				目前新聞資料庫中沒有任何資料！</p>
			</div>
		{% endfor %}
		</table>
		<div class="topfunction">
		{% if currentpage > 1 %}
			 <a href="/news/1/" title="上一頁">
			<img src="{% static "images/prevpage.png" %}" alt="上一頁" width="64" height="24" /></a>
		{% endif %}
		{% if currentpage < totpage %}
			<a href="/news/2/" title="下一頁">
			<img src="{% static "images/nextpage.png" %}" alt="下一頁" width="64" height="24" /></a>
		{% endif %}
		</div>
	</div>

{% endblock %}